.dart_tool/
.idea/
android/
build/
ios/
linux/
macros/
test/
web/
windows/
metadata
.dart_tool/package_config.json
.dart_tool/version
.dart_tool/package_config_subset
.flutter-plugins-dependencies
.flutter-plugins
ios/Podfile.lock
build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
build/flutter_assets/AssetManifest.json
lib/.DS_Store
.DS_Store
