<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834378788334-1iia67o0clgl3af5d61l2v3fas31auvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834378788334-1iia67o0clgl3af5d61l2v3fas31auvm</string>
	<key>API_KEY</key>
	<string>AIzaSyCZFvoTJX1npVRcpY36IQPxejH7lwWcQK4</string>
	<key>GCM_SENDER_ID</key>
	<string>834378788334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locateApp</string>
	<key>PROJECT_ID</key>
	<string>locate-507c2</string>
	<key>STORAGE_BUCKET</key>
	<string>locate-507c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834378788334:ios:399bf4e88b457101ddb2ff</string>
</dict>
</plist>